.leaflet-container{
  width: 100vw;
  height: 600px;
  margin: 0px auto;
}

@media screen and (max-width:500px) {
  .leaflet-container{
    width: 100%;
    margin: 10px 10px;
    height: 250px;
  }
}

@media screen and (max-width:768px) {
  .leaflet-container{
    width: 100%;
    margin: 0 auto;
  }
}